body{
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 400px;
    height: 300px;
    border: solid red 1px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"]{
    cursor: pointer;
}

p.thong_bao {
    color: red;
}

button{
    cursor: pointer;
}